SYSTEM.RESULTS.AUTOOPEN=1;
SYSTEM.RESULTS.TABSIZE=-1;
SYSTEM.RESULTS.VIEWMODE=2;
SYSTEM.COLORMAP.INCLUDELEVELSANDCOLORONLY=1;
SYSTEM.DATAHIGHLIGHTER.DATAMODE=2;
SYSTEM.DATAHIGHLIGHTER.BOOKNAME=0;
SYSTEM.DATAHIGHLIGHTER.SHEETNAME=0;
SYSTEM.DATAHIGHLIGHTER.ROWINDEX=0;
SYSTEM.LAYOUTGRID.HORIZOFFSETEX=0;
SYSTEM.LAYOUTGRID.VERTOFFSETEX=0;
SYSTEM.LAYOUTGRID.HORIZSPACING=0/0;
SYSTEM.LAYOUTGRID.VERTSPACING=0/0;
SYSTEM.LAYOUTGRID.UNIT=-1;
SYSTEM.LINE.COLOR=1;
SYSTEM.LINE.WIDTH=0.5;
SYSTEM.LINE.LINETYPE=0;
SYSTEM.LINE.ARROWPOSITION=0;
SYSTEM.LINE.ARROWBEGINWIDTH=5;
SYSTEM.LINE.ARROWBEGINLENGTH=10;
SYSTEM.LINE.ARROWBEGINSHAPE=0;
SYSTEM.LINE.ARROWENDWIDTH=5;
SYSTEM.LINE.ARROWENDLENGTH=10;
SYSTEM.LINE.ARROWENDSHAPE=0;
SYSTEM.LINE.TRANSPARENCY=0;
SYSTEM.LINE.LineCustomStyle$="";
SYSTEM.LINE4.COLOR=1;
SYSTEM.LINE4.WIDTH=0.5;
SYSTEM.LINE4.LINETYPE=0;
SYSTEM.LINE4.ARROWPOSITION=0;
SYSTEM.LINE4.ARROWBEGINWIDTH=5;
SYSTEM.LINE4.ARROWBEGINLENGTH=10;
SYSTEM.LINE4.ARROWBEGINSHAPE=0;
SYSTEM.LINE4.ARROWENDWIDTH=5;
SYSTEM.LINE4.ARROWENDLENGTH=10;
SYSTEM.LINE4.ARROWENDSHAPE=0;
SYSTEM.LINE4.TRANSPARENCY=0;
SYSTEM.LINE4.LineCustomStyle$="";
SYSTEM.POLYLINE.COLOR=1;
SYSTEM.POLYLINE.WIDTH=0.5;
SYSTEM.POLYLINE.LINETYPE=0;
SYSTEM.POLYLINE.ARROWPOSITION=0;
SYSTEM.POLYLINE.ARROWBEGINWIDTH=5;
SYSTEM.POLYLINE.ARROWBEGINLENGTH=10;
SYSTEM.POLYLINE.ARROWBEGINSHAPE=0;
SYSTEM.POLYLINE.ARROWENDWIDTH=5;
SYSTEM.POLYLINE.ARROWENDLENGTH=10;
SYSTEM.POLYLINE.ARROWENDSHAPE=0;
SYSTEM.POLYLINE.TRANSPARENCY=0;
SYSTEM.POLYLINE.LineCustomStyle$="";
SYSTEM.RECT.COLOR=1;
SYSTEM.RECT.WIDTH=0.5;
SYSTEM.RECT.LINETYPE=0;
SYSTEM.RECT.BACKCOLOR=19;
SYSTEM.RECT.FORECOLOR=1;
SYSTEM.RECT.FILLPATTERN=0;
SYSTEM.RECT.FILLWIDTH=1;
SYSTEM.RECT.TRANSPARENCY=0;
SYSTEM.RECT.FILLPATTERNSTRETCH=0;
SYSTEM.RECT.FILLPATTERNPROPORTIONAL=1;
SYSTEM.RECT.FILLPATTERNXSCALE=1;
SYSTEM.RECT.FILLPATTERNYSCALE=1;
SYSTEM.RECT.FILLPATTERNXOFFSET=0;
SYSTEM.RECT.FILLPATTERNYOFFSET=0;
SYSTEM.RECT.PATTERNUSEBORDERCOLOR=0;
SYSTEM.RECT.TRANSPARENCYFORFILLONLY=0;
SYSTEM.RECT.PATTERNGRADIENTFILLCOLOR=0;
SYSTEM.RECT.SHADEINGMODE=0;
SYSTEM.RECT.DIRECTION=0;
SYSTEM.RECT.GRADIENTFILLTRANSPARENCY=0;
SYSTEM.RECT.GRADIENTAUTOTRANSPARENCY=1;
SYSTEM.RECT.LineCustomStyle$="";
SYSTEM.CIRCLE.COLOR=1;
SYSTEM.CIRCLE.WIDTH=0.5;
SYSTEM.CIRCLE.LINETYPE=0;
SYSTEM.CIRCLE.BACKCOLOR=19;
SYSTEM.CIRCLE.FORECOLOR=1;
SYSTEM.CIRCLE.FILLPATTERN=0;
SYSTEM.CIRCLE.FILLWIDTH=1;
SYSTEM.CIRCLE.TRANSPARENCY=0;
SYSTEM.CIRCLE.FILLPATTERNSTRETCH=0;
SYSTEM.CIRCLE.FILLPATTERNPROPORTIONAL=1;
SYSTEM.CIRCLE.FILLPATTERNXSCALE=1;
SYSTEM.CIRCLE.FILLPATTERNYSCALE=1;
SYSTEM.CIRCLE.FILLPATTERNXOFFSET=0;
SYSTEM.CIRCLE.FILLPATTERNYOFFSET=0;
SYSTEM.CIRCLE.PATTERNUSEBORDERCOLOR=0;
SYSTEM.CIRCLE.TRANSPARENCYFORFILLONLY=0;
SYSTEM.CIRCLE.PATTERNGRADIENTFILLCOLOR=0;
SYSTEM.CIRCLE.SHADEINGMODE=0;
SYSTEM.CIRCLE.DIRECTION=0;
SYSTEM.CIRCLE.GRADIENTFILLTRANSPARENCY=0;
SYSTEM.CIRCLE.GRADIENTAUTOTRANSPARENCY=1;
SYSTEM.CIRCLE.LineCustomStyle$="";
SYSTEM.POLYGON.COLOR=1;
SYSTEM.POLYGON.WIDTH=0.5;
SYSTEM.POLYGON.LINETYPE=0;
SYSTEM.POLYGON.BACKCOLOR=19;
SYSTEM.POLYGON.FORECOLOR=1;
SYSTEM.POLYGON.FILLPATTERN=0;
SYSTEM.POLYGON.FILLWIDTH=1;
SYSTEM.POLYGON.TRANSPARENCY=0;
SYSTEM.POLYGON.FILLPATTERNSTRETCH=0;
SYSTEM.POLYGON.FILLPATTERNPROPORTIONAL=1;
SYSTEM.POLYGON.FILLPATTERNXSCALE=1;
SYSTEM.POLYGON.FILLPATTERNYSCALE=1;
SYSTEM.POLYGON.FILLPATTERNXOFFSET=0;
SYSTEM.POLYGON.FILLPATTERNYOFFSET=0;
SYSTEM.POLYGON.PATTERNUSEBORDERCOLOR=0;
SYSTEM.POLYGON.TRANSPARENCYFORFILLONLY=0;
SYSTEM.POLYGON.PATTERNGRADIENTFILLCOLOR=0;
SYSTEM.POLYGON.SHADEINGMODE=0;
SYSTEM.POLYGON.DIRECTION=0;
SYSTEM.POLYGON.GRADIENTFILLTRANSPARENCY=0;
SYSTEM.POLYGON.GRADIENTAUTOTRANSPARENCY=1;
SYSTEM.POLYGON.LineCustomStyle$="";
SYSTEM.PROTRACTOR.COLOR=1;
SYSTEM.PROTRACTOR.WIDTH=0.5;
SYSTEM.PROTRACTOR.LINETYPE=0;
SYSTEM.PROTRACTOR.ARROWPOSITION=0;
SYSTEM.PROTRACTOR.ARROWBEGINWIDTH=5;
SYSTEM.PROTRACTOR.ARROWBEGINLENGTH=10;
SYSTEM.PROTRACTOR.ARROWBEGINSHAPE=0;
SYSTEM.PROTRACTOR.ARROWENDWIDTH=5;
SYSTEM.PROTRACTOR.ARROWENDLENGTH=10;
SYSTEM.PROTRACTOR.ARROWENDSHAPE=0;
SYSTEM.PROTRACTOR.TRANSPARENCY=0;
SYSTEM.PROTRACTOR.LineCustomStyle$="";
SYSTEM.RANGEFINDER.COLOR=1;
SYSTEM.RANGEFINDER.WIDTH=0.5;
SYSTEM.RANGEFINDER.LINETYPE=0;
SYSTEM.RANGEFINDER.ARROWPOSITION=0;
SYSTEM.RANGEFINDER.ARROWBEGINWIDTH=5;
SYSTEM.RANGEFINDER.ARROWBEGINLENGTH=10;
SYSTEM.RANGEFINDER.ARROWBEGINSHAPE=1;
SYSTEM.RANGEFINDER.ARROWENDWIDTH=5;
SYSTEM.RANGEFINDER.ARROWENDLENGTH=10;
SYSTEM.RANGEFINDER.ARROWENDSHAPE=1;
SYSTEM.RANGEFINDER.TRANSPARENCY=0;
SYSTEM.RANGEFINDER.LineCustomStyle$="";
SYSTEM.REFLINE.AUTOFORMAT=0;
SYSTEM.REFLINE.COLOR=-9;
SYSTEM.REFLINE.STYLE=0;
SYSTEM.REFLINE.WIDTH=0.5;
SYSTEM.PAGEGRID.HORIZOFFSETEX=0;
SYSTEM.PAGEGRID.VERTOFFSETEX=0;
SYSTEM.PAGEGRID.HORIZSPACING=0/0;
SYSTEM.PAGEGRID.VERTSPACING=0/0;
SYSTEM.PAGEGRID.UNIT=-1;
SYSTEM.ANNOTATION.MODE=0;
SYSTEM.ANNOTATION.CUSTOMLABEL$="";
SYSTEM.ANNOTATION.MODEXYZ=0;
SYSTEM.ANNOTATION.CUSTOMLABELXYZ$="";
SYSTEM.ANNOTATION.LABELNAME$="";
SYSTEM.ANNOTATION.LABELCOLOR=0;
SYSTEM.ANNOTATION.LABELSIZE=22;
SYSTEM.ANNOTATION.TABSIZE=8;
SYSTEM.ANNOTATION.ROTATION=0;
SYSTEM.ANNOTATION.TEXTCNTRL=0;
SYSTEM.ANNOTATION.VERBATIM=0;
SYSTEM.ANNOTATION.JUSTIFY=17;
SYSTEM.ANNOTATION.SHADOWSTYLE=0;
SYSTEM.ANNOTATION.FILLCOLOR=-4;
SYSTEM.ANNOTATION.BORDERWIDTH=0;
SYSTEM.ANNOTATION.BORDERCOLOR=-4;
SYSTEM.ANNOTATION.SHADOWWIDTH=0;
SYSTEM.ANNOTATION.SHADOWCOLOR=-9;
SYSTEM.ANNOTATION.MARGINLEFT=12.4;
SYSTEM.ANNOTATION.MARGINRIGHT=12.4;
SYSTEM.ANNOTATION.MARGINTOP=12.4;
SYSTEM.ANNOTATION.MARGINBOTTOM=12.4;
SYSTEM.ANNOTATION.LEADERLINETHRESHOLD=0;
SYSTEM.ANNOTATION.LEADERLINECONNECTTYPE=0;
SYSTEM.ANNOTATION.LEADERLINECONNECTPERCENT=0;
SYSTEM.ANNOTATION.LEADERLINESITE1GAP=1;
SYSTEM.ANNOTATION.LEADERLINESITE2GAP=0;
SYSTEM.ANNOTATION.TETHERCOLOR=0;
SYSTEM.ANNOTATION.TETHERSTYLE=0;
SYSTEM.ANNOTATION.TETHERWIDTH=0.5;
SYSTEM.ANNOTATION.BEGINARROWSTYLE=0;
SYSTEM.ANNOTATION.BEGINARROWWIDTH=5;
SYSTEM.ANNOTATION.BEGINARROWLENGTH=10;
SYSTEM.ANNOTATION.ENDARROWSTYLE=0;
SYSTEM.ANNOTATION.ENDARROWWIDTH=5;
SYSTEM.ANNOTATION.ENDARROWLENGTH=10;
SYSTEM.ANNOTATION.STATES=0;
SYSTEM.ANNOTATION.UNITS=3;
SYSTEM.ANNOTATION.POSJUSTIFY=17;
SYSTEM.ANNOTATION.POSOFFSETX=0/0;
SYSTEM.ANNOTATION.POSOFFSETY=0/0;
SYSTEM.ANNOTATION.TRANSPARENCY=0;
SYSTEM.DEBUG=0;
SYSTEM.EXPLORER=1;
SYSTEM.EXTBACKCOLOR=1;
SYSTEM.PAGECOL=0;
SYSTEM.PAGEROW=0;
SYSTEM.TEMPLATEPATH=0;
SYSTEM.WINVIEWFSIZE=1;
SYSTEM.ShowOneNameInPE=1;
SYSTEM.LID=0;
SYSTEM.REPORTLANGUAGE=0;
